body{
    background-color: rgb(247, 248, 240);
    padding: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    /* background-color: rgb(228, 161, 217); */
    display: flex;
    justify-content: space-between;
}
.logo{
    margin: 0rem;
}
.navBar{
    /* background-color: aqua; */
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navBar a{
    /* background-color: blueviolet; */
    text-align: center;
}
.enTete{
    /* background-color: rgb(204, 204, 228); */
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.enTete__text{
    /* background-color: rgb(199, 145, 145); */
    margin: 1rem;
}

.nosSpecialites{
    /* background-color: aquamarine; */
}
.nosSpecialites__heading{
    /* background-color: rgb(77, 103, 219); */
    text-align: center;
    font-size: xx-large;
}
.nosSpecialites__enTete{
    /* background-color: rgb(214, 39, 39); */
    text-align: center;
}
.menu{
    /* background-color: rgb(122, 122, 197); */
    display: flex;
    justify-content: space-evenly;
}
.nosSpecialites__list{
    /* background-color: rgb(7, 77, 50); */
    padding: 0.1rem 1rem;
    border: solid;
}
.menu__list{
    /* background-color: blue; */
    font-size: medium;
    padding: 1rem;
    /* border: 1px solid; */
}
.menu__heading{
    /* background-color: rgb(189, 189, 212); */
    padding: 0.5rem;
}
.menu__item{
    /* background-color: rgb(135, 218, 115); */
}
.enImage{
    background-color: blueviolet;
    
}
.enImage__list{
    background-color: blue;
    display: flex;
}
.enImage__item{
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}